{% extends 'base.html' %}

{% load static %}

{% block title %} Privacy &amp; Policy of IBlog {% endblock %}

{% block isActiveNavPrivacy %} active {% endblock %}

	{% block body %}
        <!--/main-->
        <section class="main-content-w3layouts-agileits">
            <div class="container">
                <h3 class="tittle">Privacy &amp; Policy</h3>
                    <div class="inner-sec">
                    <div class="login p-5 bg-light mx-auto mw-100">
                        
                    </div>
            </div>
        </section>
	{% endblock %}