{% extends 'base.html' %}

{% load static %}

{% block title %} Register to IBlog {% endblock %}

	{% block body %}
        <div class="banner-inner">
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Register</li>
        </ol>
        <!--//banner-->
        <!--/main-->
        <section class="main-content-w3layouts-agileits">
            <div class="container">
                <h3 class="tittle">Register Now</h3>
                <div class="inner-sec">

                    {% for msg in messages %}

                        <div class = "alert alert-{{ msg.level_tag }}" role="alert">
                            {{ msg.message }}
                        </div>

                    {% endfor %}
                <div class="login p-5 bg-light mx-auto mw-100">
                    <form action="{% url 'userRegister' %}" method="post">

                        {% csrf_token %}
                            <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                            <label for="validationCustom01">Name</label>

                                            {{ form.name }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                            <label for="validationCustom02">Email</label>
                                            {{ form.email }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1 mb-2">Phone</label>
                                            {{ form.phone }}
                                    </div>
                                    <div class="form-group col-md-6">
                                            <label for="exampleInputPassword2 mb-2">Password</label>
                                            {{ form.password }}
                                        </div>
                                    
                                </div>
                                <p>
                                    <input type="checkbox" name="" id="">
                                    By clicking Register, I agree to the <a href="{% url 'privacy' %}">privacy &amp; policy</a>
                                </p>
                                <br />
                                <button type="submit" value = "register" class="btn btn-primary submit mb-4">Register</button>
                            </form>
            
                        </div>
                </div>
            </div>
        </section>
	{% endblock %}